export(getClassAUC)
export(getMarkers)
export(getPValues)
export(plotCorrelationHeat)
export(plotMarkerHeat)
export(plotTopMarkerHeat)
export(plotMarkerScores)
export(sortGenes)
export(write.files)

importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "legend", "lines", "par", "plot")
importFrom("methods", "as")
importFrom("stats", "cor", "ecdf", "kmeans", "median", "p.adjust", "quantile")
importFrom("utils", "write.table")
importFrom("mclust", "Mclust", "mclustBIC")
importFrom("parallel", "mclapply")
importFrom("pheatmap", "pheatmap")
importFrom("Matrix", "sparseMatrix")
